#pantallaAgregarEntrada{
	position: fixed;
	z-index: 2;
	width: 100%; 
	height: 100vh; 
	background: rgba(0,0,0,.75);	
}

#centraContenidoAgregarEntrada{
	width: 390px; 
	background: white; 
	margin: 0 auto; 
	position: relative;
	top: 50vh;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	flex-direction: column;
	align-items: center;
}

#subirFoto{
	position: relative;
	margin: 15px 0 0 0;
	width: 360px;
	height: 360px; 
	background: #F5F5F5;
	display: flex; 
	display: -webkit-flex;
	display: -moz-flex;
	flex-direction: column;
	align-items: center; 
	justify-content: center;
}

.camara{
	width: 50px; 
	height: 50px;
}

.fotoSubidaInput{
	object-fit: cover;
	object-position: center;
	vertical-align: top; 
	width: 100%; 
	height: 100%;
}

#file{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#label{
	width: 100%; 
	height: 100%; 
	position: absolute;
	cursor: pointer;
}

#primerComentario{
	width: 360px; 
	height: 160px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	border: 1px solid #F5F5F5;
	outline: none;
	font-family: GothamBook; 
	font-size: 15px; 
	color: #6D6E72;
	padding: 10px;
	resize: none;
	margin: 15px auto;
}

#enviar{
	margin: 0 0 15px 0;
	width: 360px; 
	cursor: pointer;
	background: #3897F0;
	font-family: GothamBlack; 
	font-size: 15px;
	color: white;
	height: 48px; 
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	outline: none;
	border: none;
}

#modificarEntrada{
	margin: 0 0 15px 0;
	width: 360px; 
	cursor: pointer;
	background: #3897F0;
	font-family: GothamBlack; 
	font-size: 15px;
	color: white;
	height: 48px; 
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	outline: none;
	border: none;
}






/*Placeholder*/
::placeholder{
	color: #D0D0D0;
}

::-webkit-placeholder{
	color: #D0D0D0;
}

::-ms-placeholder{
	color: #D0D0D0;
}

::-moz-placeholder{
	color: #D0D0D0;
}





