#flotantes{
	display: flex; 
	display: -webkit-flex;
	display: -moz-flex;
	flex-direction: row; 
	align-items: center; 
}
/*FLOTANTE IZQUIERDO*/
#flotanteIzquierdo{
	display: flex; 
	display: -webkit-flex;
	display: -moz-flex;
	flex-direction: column; 
	align-items: center; 
	flex-grow: 1; 
	flex-basis: 0;
	background: white; 
	height: 100vh; 
	overflow-y: scroll;
}

#fotoProyecto{
	width: 118px; 
	height: 118px; 
	margin: 70px auto;
	border-radius: 100px; 
	-webkit-border-radius: 100px; 
	-moz-border-radius: 100px; 
	-o-border-radius: 100px; 
	-ms-border-radius: 100px; 
	border: 1px solid #D0D0D0;
	background: white;
}

#fotoProyecto img{
	width: 100%; 
	height: 100%; 
	vertical-align: top;
	border-radius: 100px; 
	-webkit-border-radius: 100px; 
	-moz-border-radius: 100px; 
	-o-border-radius: 100px; 
	-ms-border-radius: 100px;  
}

#nombreProyecto{
	font-family: GothamMedium; 
	font-size: 15px; 
	color: black;
	margin: 0;
	margin-bottom: 20px; 
}

#webProyecto{
	font-family: GothamBook; 
	font-size: 14px; 
	color: #3897F0;
	margin: 0;
	margin-bottom: 20px; 
}

#duenoProyecto, #descripcionProyecto{
	font-family: GothamBook; 
	font-size: 14px; 
	color: black;
	margin: 0;
	margin-bottom: 20px; 
}

#descripcionProyecto{
	margin: 30px auto 50px auto;
	width: 93%;
	white-space: pre-wrap;
    word-wrap: break-word;	
}

#modificarProyecto{
	width: 150px;
	display: flex; 
	display: -webkit-flex;
	display: -moz-flex;
	flex-direction: row; 
	align-items: center; 
	justify-content: space-between;
}

#modificarProyecto figure{
	cursor: pointer;
	margin: 0;
	width: 53px; 
	height: 53px; 
	border-radius: 100px; 
	-webkit-border-radius: 100px; 
	-moz-border-radius: 100px; 
	-o-border-radius: 100px; 
	-ms-border-radius: 100px; 
}

#modificarProyecto figure img{
	width: 100%; 
	height: 100%; 
}


/*FLOTANTE DERECHO*/
#flotanteDerecho{
	width: 801px;
	display: flex; 
	display: -webkit-flex;
	display: -moz-flex;
	flex-direction: row; 
	align-items: center; 
	background: #F5F5F5;
	height: 100vh;
	overflow-y: scroll; 
}

#columnaIzquierda, #columnaDerecha{
	margin: 0 27px; 
	height: 100vh;
	display: flex; 
	display: -webkit-flex;
	display: -moz-flex;
	flex-direction: column; 
	align-items: center; 
}

#columnaDerecha{
	margin: 0 27px 0 0 !important;
}

.entrada{
	position: relative;
	cursor: pointer;
	width: 360px; 
	margin-top: 27px;
}

.entradaDB{
	position: relative;
	cursor: pointer;
	width: 360px; 
	margin-top: 27px;
}

.editarEntrada, .eliminarEntrada{
	display: none;
	position: absolute;
	top: 15px; 
	right: 15px; 
	cursor: pointer;
	margin: 0;
	width: 53px; 
	height: 53px; 
	border-radius: 100px; 
	-webkit-border-radius: 100px; 
	-moz-border-radius: 100px; 
	-o-border-radius: 100px; 
	-ms-border-radius: 100px; 
}

.editarEntrada{
	top: 83px !important;
}

.editarEntrada img, .eliminarEntrada img{
	width: 100%; 
	height: 100%; 
}

.fotoEntrada{
	margin: 0;
	width: 100%; 
	height: 360px; 
	background: white; 
	box-shadow: 0px 4px 15px rgba(0,0,0,.15);
}

.fotoEntrada img{
	width: 100%; 
	height: 100%;
	object-position: center;
	object-fit: cover; 
}

#imagenSubirEntrada{
	width: 35px;  
	height: 35px; 
	padding: 162.5px;
}

.primerComentario{
	margin: 0;
	font-family: GothamBook; 
	font-size: 13px; 
	color: #6D6E72;
	width: 100%;
	background: white;  
	box-shadow: 0px 4px 15px rgba(0,0,0,.15);
	white-space: pre-wrap;
    word-wrap: break-word;
    padding: 23px 15px 20px 15px; 
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.textoAnadirEntrada{
	text-align: center; 
}
