#centrado{
	position: relative;
	top: 50vh;
}

#centrado input{
	display: block;
	padding: 15px 0;
	margin: 0 auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	outline: none;
	border: none;
	width: 285px;
}

#email, #password{
	border-bottom: 1px solid #3897F0 !important;
	margin-bottom: 15px !important;
	color: #3897F0;
	font-family: GothamBook;
	font-size: 16px;
}

#sign{
	background: #3897F0;
	color: white;
	border-radius: 5px;
	font-family: GothamBold;
	font-size: 15px;
	cursor: pointer;
}

.error{
	border-bottom: 1px solid red !important;
}


/*Placeholder*/
::placeholder{
	color: #3897F0;
	opacity: .5;
}

::-webkit-placeholder{
	color: #3897F0;
	opacity: .5;
}

::-ms-placeholder{
	color: #3897F0;
	opacity: .5;
}

::-moz-placeholder{
	color: #3897F0;
	opacity: .5;
}
