
@font-face {
  font-family: 'Instagram';
  src: url('../../objetos/fuentes/instagram.ttf');
}

@font-face {
  font-family: 'GothamLight';
  src: url('../../objetos/fuentes/Gotham-Light.otf');
}

@font-face {
  font-family: 'GothamBook';
  src: url('../../objetos/fuentes/Gotham-Book.otf');
}

@font-face {
  font-family: 'GothamMedium';
  src: url('../../objetos/fuentes/Gotham-Medium.otf');
}

@font-face {
  font-family: 'GothamBold';
  src: url('../../objetos/fuentes/Gotham-Bold.otf');
}

@font-face {
  font-family: 'GothamBlack';
  src: url('../../objetos/fuentes/Gotham-Black.otf');
}



